/*Message d'erreur si pas de pseudo*/
#error_message{
    padding-top: 2rem;
    color : red;
    font-weight: bold;
    font-size: 1.2rem;
}

#footer{
    min-width: 98vw;
}

#game_rules p{
    text-align: justify;
}

#footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}